@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,700&family=Roboto+Mono&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;

  --clr-bg-primary: #c4e8ed;
  --clr-bg-secondary: #f7e05f;
  --clr-ff-primary: #181818;
  --clr-ff-secondary: #ffffff;

  --ff-regular: 400;
  --ff-medium: 500;
  --ff-bold: 700;
}

body {
  max-width: 65ch;
  color: var(--clr-ff-primary);
  background-color: var(--clr-bg-primary);
  margin: 0 auto;
  line-height: 1.7rem;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: var(--ff-bold);
}

h2 > span {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

li {
  list-style: decimal-leading-zero;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 1px solid var(--clr-ff-primary);
  background-color: var(--clr-ff-secondary);
  padding: 0.5rem;
  list-style-position: inside;
  font-size: 0.8rem;
}

div {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

a {
  text-decoration: none;
  color: var(--clr-ff-primary);
  font-weight: var(--ff-bold);
}

a:hover {
  text-decoration: underline;
}

sup {
  font-size: 0.7rem;
}

code {
  font-family: "Roboto Mono", monospace;
  font-size: 0.8rem;
  line-height: 1rem;
}

.wrapper {
  border: 1px solid var(--clr-ff-primary);
  margin: 2rem 0;
  background-color: var(--clr-bg-secondary);
  padding: 1rem;
}

.html,
.css,
.js,
.react {
  color: var(--clr-ff-secondary);
  background-color: var(--clr-ff-primary);
  padding: 0 0.2rem;
}

.project > span {
  font-size: 1.3rem;
  font-weight: var(--ff-bold);
}

.challenge > span {
  font-weight: var(--ff-medium);
}

.solution {
  background-image: url("checkmark.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 15px;
  padding-left: 20px;
}

.repository {
  background-image: url("github-mark.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 15px;
  padding-left: 20px;
}
